.header {
  width: 100%;
  background-color: whitesmoke;
  margin: 0px;
  overflow: hidden;
}

.header #header-container {
  width: 100%;
}

#header-container #avatar {
  margin: 20px auto 30px auto;
  height: 20vh;
  width: 62%;
  background-image: url('/public/images/photo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  border-radius: 50%;
  box-shadow: 15px 10px 15px rgba(0,0,0,.2);
}

@media (max-width:768px) {
  #header-container #avatar {
    text-align: center;
    margin-top: 80px;
    width: 50%;
  }

  #name{
    text-align: center;
  }

  .header {
    padding-bottom: 30px;
  }
}