#app{
  height: auto;
  display: flex;
  min-height: 100vh;
}

.sidebar{
  height: auto;
  min-height: 100vh;
  background-color: #0D47A1;
  color: #000;
}

.sidebar h2{
  font-size: 1.5rem;
  margin: 5px;
}

.avatar{
  margin: 30px auto 30px auto;
  height: var(--avatarH);
  width: 80%;
  background-image: url('/public/images/photo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  border-radius: 50%;
  box-shadow: 15px 10px 15px rgba(0,0,0,.2);
}

.collapse-btn{
  color: white;
}

.collapse-btn:hover{
  color: #0D47A1;
}

.link{
  text-decoration: none;
  color: white;
}

.link:hover{
  color: #0D47A1;
  background: black;
}

.link:focus{
  color: black;
}

.icon-sidebar .position-absolute{
    color: white;
    margin: 10px 0 0 10px;
    cursor: pointer;
}

.position-absolute{
  color: white;
  margin: 10px 10px 0 0;
  cursor: pointer;
}

.navbar{
  position: fixed;
  height: 3rem;
  width: 100%;
  background-color: #0D47A1;
}

